.wishlist {
    position: absolute;
    right: 80px;
    top: 80px;
    padding: 20px 30px;
    background-color: white;
    z-index: 1000;
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 50%);


    h1 {
        margin-bottom: 30px;
        color: gray;
        font-weight: 400;
        font-size: 24px;
    }

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;

        img {
            width: 80px;
            height: 100px;
            object-fit: cover;
        }

        .details {
            h1 {
                font-size: 18px;
                font-weight: 500;
            }

            p {
                color: gray;
                margin-bottom: 10px;
                font-size: 14px;
            }

            .price {
                font-size: 18px;
                font-weight: 500;
                color: #662FFC;

            }
        }

        .delete {
            color: red;
            font-size: 30px;
            cursor: pointer;
        }
    }

    .total {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 20px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        min-width: 250px;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 18px;
        border: none;
        cursor: pointer;
        background-color: #662FFC;
        padding: 10px;
        width: fit-content;
        margin-bottom: 20px;
    }

    .reset {
        cursor: pointer;
        font-size: 14px;
        color: red;
    }
}