.footer {
    margin: 100px 200px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        .item {
            flex: 1;
            display: flex;
            flex-direction: column;
            text-align: justify;
            font-size: 14px;

            h1 {
                font-size: 18px;
                font-weight: 500;
                color: #555;
            }

            span {
                color: gray;
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;

        .left {
            display: flex;
            justify-content: center;
            align-items: center;

            .logo {
                color: #2879FE;
                font-size: 24px;
                font-weight: bold;
            }

            .copyright {
                margin-left: 20px;
                font-size: 12px;
                color: gray;
            }
        }

        .right {

            img {

                height: 50px;
            }
        }
    }
}